
html, body {

    padding: 0;
    margin: 0;

    background: #f0f0f0;

    height: 100%;

}

.wrapper {
    height: 100%;
}

.content-wrapper {
    background: -webkit-linear-gradient(30deg, #F99167 0%, #F9A55A 30%,#F0BB54 48%, #E0D159 52%, #CAE66C 80% ,#AFF98B 100%);
    width: 80%;

    overflow: hidden;

    float: left;

}

.widget-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background: #000000;
    width: 20%;
    min-width: 200px;
    float: right;
}